*.a
*.d
*.o
*.so
*.htm
*.html
*.orig
*.txt
*.exe
*.dll
*.bak
*.cbTemp
.DS_Store
CMakeLists.txt.user
.dep.inc
Makefile
src/config-opentomb.h
obj/
bin/
build/
nbproject/
dist/
data/
save/
opentomb-code.cscope_file_list
opentomb-code.layout
OpenTomb\.xcodeproj/project\.xcworkspace
OpenTomb\.xcodeproj/xcuserdata
syntax: glob

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

